.UserSurvey, .questions {
  display: flex;
  justify-content: space-between;
}

.UserSurvey {
  margin: 3em auto;
  padding: 2em 0;
  width: 80%;
}

.questions {
  box-shadow: 2em 3em 10em .01em rgba(0, 0, 0, .2);
  flex-direction: column;
  width: 40%;
  /* margin: 0 4em; */
  padding: 2em;
  border-radius: 20px;
}

.questions > * {
  margin: .2em;
}

.questions > button {
  background: #b45ad3;
  color: #FFFFFF;
}

h1 {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
}