.UserSurvey, .questions {
  display: flex;
  justify-content: space-between;
}

.UserSurvey {
  margin: 1em auto;
  padding: 2em 0;
  width: 80%;
}

.questions {
  box-shadow: 2em 3em 10em .01em rgba(0, 0, 0, .2);
  flex-direction: column;
  width: 40%;
  padding: 1.5em;
  border-radius: 20px;
}

.questions > * {
  margin: .5em;
}

.question-buttons {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.question-buttons > * {
  margin-left: .4em;
}

.cta-1 {
  background: #b45ad3;
  color: #FFFFFF;
}

.cta-2 {
  background: #00b0fc;
  color: #fff
}

.cta-3 {
  margin-top: 0;
  color: #b45ad3;
  background: #FFF;
  box-shadow: 0em 0em 1px 1px rgba(0, 176, 252, .5);
}

h1, h3 {
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
}
