.validation-error {
  color: red;
  font-size: .4em;
  width: 95%;
  text-align: right;

}

label {
  font-size: .6;
  font-weight: bold;
}

.answer-value {
  font-size: 1.3em;
  border-radius: 5px;
  border: black solid 1px;
}